



16000  PiPL  DISCARDABLE
BEGIN
	0x0001,	 
	0, 0x0, 	
	12, 0x0, 
	"MIB8",
	"dnik", 
	0, 0x0,
	4, 0x0,
	"TKFe",

	"MIB8",
	"eman",
	0, 0x0,
	12, 0x0,
	"\x0ANF-Outline\0", 

	"MIB8",
	"gtac", 
	0, 0x0,
	12, 0x0,
	"\x0ANF Plugins\0", 

	"MIB8",
	"4668", 
	0, 0x0,
	12, 0x0,
	"EffectMain\0\0", 

	"MIB8",
	"RVPe", 
	0, 0x0,
	4, 0x0,
	2, 0,

	"MIB8",
	"RVSe", 
	0, 0x0,
	4, 0x0,
	13, 29,

	"MIB8",
	0x65564552L, 
	0L,
	4L
	525824L, 

	"MIB8",
	0x65494E46L, 
	0L,
	2L
	0L, 

	"MIB8",
	"OLGe", 
	0L,
	4L,
	33556032L, 

	"MIB8",
	"2LGe", 
	0L,
	4L,
	134222921L, 

	"MIB8",
	"ANMe",
	0, 0x0,
	12, 0x0,
	"\x0ANF-Outline\0", 

	"MIB8",
	0x6165464CL, 
	0L,
	4L
	0L, 


END

