



16000  PiPL  DISCARDABLE
BEGIN
	0x0001,	 
	0, 0x0, 	
	12, 0x0, 
	"MIB8",
	"dnik", 
	0, 0x0,
	4, 0x0,
	"TKFe",

	"MIB8",
	"eman",
	0, 0x0,
	20, 0x0,
	"\x13F's PaintMalutPaint", 

	"MIB8",
	"gtac", 
	0, 0x0,
	20, 0x0,
	"\x11F's Plugins-Paint\0\0", 

	"MIB8",
	"4668", 
	0, 0x0,
	16, 0x0,
	"EntryPointFunc\0\0", 

	"MIB8",
	"RVPe", 
	0, 0x0,
	4, 0x0,
	2, 0,

	"MIB8",
	"RVSe", 
	0, 0x0,
	4, 0x0,
	13, 17,

	"MIB8",
	0x65564552L, 
	0L,
	4L
	558592L, 

	"MIB8",
	0x65494E46L, 
	0L,
	2L
	0L, 

	"MIB8",
	"OLGe", 
	0L,
	4L,
	33556032L, 

	"MIB8",
	"2LGe", 
	0L,
	4L,
	5193L, 

	"MIB8",
	"ANMe",
	0, 0x0,
	20, 0x0,
	"\x13F's PaintMalutPaint", 

	"MIB8",
	0x6165464CL, 
	0L,
	4L
	0L, 


END

